a {
  color: #000000;
  text-decoration: none;
}

h3 {
  margin: 0;
}

h2 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: "PT Sans";
  font-style: normal;
}

