.form__fieldset {
  font-family: $font;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
}

.form__contact-item {
  width: 280px;
}

.form__contact-label {
  font-family: $font;
  font-style: normal;
  text-transform: uppercase;
  color: #333333;
  padding-left: 15px;
}

.form__contact-input {
  font-family: $font;
  width: 280px;
  height: 58px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 70px;
  margin-bottom: 16px;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__contact-input--phone {
  background-image: url("../img/form-phone.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.form__contact-input--email {
  background-image: url("../img/form-email.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.form__options-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  height: 46px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.form__fieldset {
  position: relative;
}

.form__fieldset {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #d6d6d6;
  padding-left: 20px;
}

.form__input-wrapper {
  width: 280px;
  height: 58px;
}

.form__contact-input:hover {
  background-color: #e5e5e5;
}

.form__contact-input:active {
  background: #ffffff;
  border: 4px solid #e5e5e5;
}

.form__input-wrapper--phone {
  background-image: url("../img/form-phone.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.form__fieldset-title {
  margin-bottom: 20px;
  margin-top: 59px;
}

.form__options-mark {
  position: absolute;
}

.form__options-input[type="radio"]+.form__options-mark {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form__options-input[type="radio"]:checked + .form__options-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.form__options-mark--checkbox {
  position: absolute;
}

.form__options-input[type="checkbox"]+.form__options-mark--checkbox {
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
}

.form__options-input[type="checkbox"]+.form__options-mark--checkbox::before,
.form__options-input[type="checkbox"]+.form__options-mark--checkbox::after {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 22px;
  height: 16px;
  background-image: url(../img/checked.svg);
  content: "";
}

.form__options-input:hover {
  background-color: #e5e5e5;
}

.form__options-label {
  margin-left: 82px;
}

.form__fieldset--recall textarea {
  font-family: $font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  height: 150px;
  resize: none;
  border: none;
  background: #f2f2f2;
  padding: 16px 16px 16px 16px;
}

.form__submit {
  width: 280px;
  color: #ffffff;
}

.form__note {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
}
