.form__fieldset {
  position: relative;
  font-family: $font;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border: none;
  padding: 0;
}

.form__fieldset-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
}

.form__contact-list {
  display: flex;
  flex-direction: column;
}

.form__contact-item {
  display: flex;
  flex-direction: column;
}

.form__contact-label {
  font-family: $font;
  font-style: normal;
  text-transform: uppercase;
  color: #333333;
  padding-left: 15px;
}

.form__contact-input {
  width: 280px;
  height: 58px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__options-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 36px;
}

.form__options-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__options-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__options-input--radio + label::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  background-color: #f2f2f2;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 15px;
}

.form__options-input--radio:checked + label::before {
  background-image: url("../img/checked-radio.svg");
  background-size: 16px 16px;
}

.form__options-input--checkbox + label::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 15px;
}

.form__options-input--checkbox:checked + label::before {
  background-image: url("../img/checked-checkbox.svg");
  background-size: 22px 16px;
}

.form__input-wrapper {
  width: 280px;
  height: 58px;
  margin-bottom: 16px;
}

.form__contact-input--email {
  background-image: url("../img/form-email.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.form__contact-input--phone {
  background-image: url("../img/form-phone.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.form__fieldset--recall textarea {
  font-family: $font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  width: 279px;
  height: 150px;
  border: none;
  background: #f2f2f2;
  margin-bottom: 56px;
  padding: 16px;
}

.form__submit {
  color: #ffffff;
  margin: 0;
}

.form__note {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  margin-left: 163px;
}

@media (min-width: $tablet-width) {
  .form__fieldset-title {
    font-size: 21px;
    line-height: 26px;
  }

  .form__wrapper--fieldset {
    display: flex;
  }

  .form__fieldset--data {
    border-right: solid 1px #dbdbdb;
    padding-right: 43px;
  }

  .form__fieldset--contact {
    padding-left: 43px;
  }

  .form__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__fieldset--recall textarea {
    width: 648px;
  }

  .form__fieldset--submit {
    display: flex;
    align-items: center;
  }

  .form__submit {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .form form {
    display: flex;
    flex-direction: column;
  }

  .form__contact-input {
    width: 430px;
  }

  .form__options--radio-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 65px;
  }

  .form__options--checkbox-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 65px;
  }

  .form__fieldset--recall textarea {
    width: 768px;
  }

  .form__submit {
    width: 384px;
  }
}
