.interest {
  font-family: $font;
  font-style: normal;
  padding: 39px 18px 32px;
}

.interest__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: 39px;
}

.interest__description {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}
