.interest {
  font-family: $font;
  font-style: normal;
  padding: 39px 30px 49px 30px;
}

.interest__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.interest__description {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}


.interest__button {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .interest {
    left: 35%;
    width: 458px;
    padding: 0;
    padding-top: 61px;
    padding-bottom: 58px;
  }

  .interest__title {
    font-size: 30px;
    line-height: 26px;
  }

  .interest__description {
    margin-bottom: 41px;
  }
}
