.main-footer {
  padding: 35px 20px 15px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 60px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 120px 34px;
  }
}

.main-footer--page {
  padding-top: 28px;
}

.main-footer a {
  color: #000000;
}

.main-footer__tag {
  display: inline-block;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__networks {
  display: flex;
}
