.main-navigation {
  position: relative;
}

.main-navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 185px;
  height: 96px;

  transform: translateX(-50%);
}

.main-navigation__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 10;

  display: block;
  width: 23px;
  height: 22px;

  background-color: transparent;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: none;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    position: static;
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #ffffff;
  }
}

.no-js .main-navigation__toggle {
  display: none;
}

.no-js .main-navigation__list {
  position: relative;
  display: block;
}

.main-navigation__list::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 7px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation--open .main-navigation__list {
  display: block;
}

.main-navigation--open .main-navigation__toggle {
  background-image: url("../img/icon-cross.svg");
}

.main-navigation__item {
  padding: 17px 17px 13px;

  text-align: center;

  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  @media (min-width: $tablet-width) {
    width: 153px;

    box-shadow: none;

    &:hover {
      background-color: #ffffff;
    }
  }

  @media (min-width: $desktop-width) {
    width: 240px;
  }
}

.main-navigation__item:nth-child(4n-2) {
  @media (min-width: 768px) {
    margin-right: 76px;
  }
}

.main-navigation__item:nth-child(4n-1) {
  @media (min-width: 768px) {
    margin-left: 76px;
  }
}

.main-navigation__item a {
  display: inline-block;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $font;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: #000000;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #000000;

      opacity: 0.3;
    }
  }
}

.main-navigation__item--current a {
  @media (min-width: $tablet-width) {
    color: #766357;
  }
}
