.main-footer {
  font-family: 'PT Sans';
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px 78px 34px 76px;
}

.main-footer__networks {
  display: flex;
  padding: 0;
  margin: 0;
}

.networks__item {
  width: 48px;
  height: 48px;
  background-color: #81B3D2;
}

.networks__item:first-child {
  margin-right: 6px;
}

.networks__item:last-child {
  margin-left: 6px;
}

.networks__link svg{
  fill: #ffffff;
  padding: 17px 12px 17px 12px;
}

.copyright {
  display: flex;

}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 47px;
}

.copyright__link {
  margin-top: 40px;
  margin-left: 10px;
}
