.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.networks__item:first-child {
  margin-right: 6px;
}

.networks__item:last-child {
  margin-left: 6px;
}

.networks__link svg {
  fill: #ffffff;
}
