.welcome-block__image_text {
  margin: 90px 19px 85px 19px;
}

.welcome-block__image {
  background-color: hsl(204 48% 67% / 0.2);
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  height: 389px;
}

.welcome-block__catalog {
  height: 214px;
}

.welcome-block__description {
  font-family: 'PT Sans';
  font-style: normal;
  text-align: center;
}

.welcome-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.welcome-block__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
}

.welcome-block__divider {
    display: block;
    margin: 0 auto;
}
