.welcome-block__image_text {
  margin: 90px 19px 85px 19px;
}

.welcome-block__image {
  background-color: #5ca5d5;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 85px;
}

.welcome-block__image img {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
}

.welcome-block__description {
  font-family: $font;
  text-align: center;
}

.welcome-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.welcome-block__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
}
