@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: auto;
  padding: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.header {
  position: relative;
  min-height: 56px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 185px;
  height: 96px;
  transform: translateX(-50%);
}

.main-navigation__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 10;
  width: 23px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.main-navigation__container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #81b3d2;
}

.main-navigation__container::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.main-navigation--open .main-navigation__container {
  display: block;
}

.main-navigation--open .main-navigation__toggle {
  background-image: url("../img/icon-cross.svg");
}

.main-navigation__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  height: 55px;
  text-align: center;
  padding-top: 17px;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.main-navigation__item a {
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.main-navigation__item--current a {
  color: #766357;
}

.welcome-block__image_text {
  margin: 90px 19px 85px 19px;
}

.welcome-block__image {
  background-color: #5ca5d5;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 85px;
}

.welcome-block__image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 37px;
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome-block__image img {
  display: block;
  margin: 0 auto;
}

.welcome-block__description {
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.welcome-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.welcome-block__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
}

.advantages {
  position: relative;
}

.advantages__item {
  position: relative;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
}

.advantages__container {
  padding: 8px 35px 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.advantages__item--full:first-child .advantages__container {
  padding-top: 55px;
  padding-bottom: 39px;
}

.advantages__item--full:first-child .advantages__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 37px;
  background-image: url("../img/advantages-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages__title {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
}

.advantages__item p {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages__container p + p {
  margin-top: 17px;
}

.advantages__wrapper--full .advantages__container {
  padding: 21px 20px 35px;
  background-color: #81b3d2;
}

.advantages__wrapper--full .advantages__title {
  color: #ffffff;
}

.advantages__wrapper--full p {
  color: #ffffff;
}

.advantages__img {
  width: 100%;
  height: 260px;
}

.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__attractions {
  padding-bottom: 50px;
}

.advantages__attractions-item {
  padding: 13px 15px 0 65px;
  text-transform: uppercase;
  background-repeat: no-repeat;
}

.advantages__attractions-item .advantages__title {
  margin-bottom: 16px;
}

.advantages__attractions-item--motel {
  background-image: url("../img/icon-house.svg");
  background-position: 18px 21px;
}

.advantages__attractions-item--meal {
  padding-left: 70px;
  background-image: url("../img/icon-burger.svg");
  background-position: 18px 21px;
}

.advantages__attractions-item--souvenirs {
  padding-left: 62px;
  background-image: url("../img/icon-gift.svg");
  background-position: 22px 21px;
}

.advantages__item--full:nth-child(2n) .advantages__img {
  order: 1;
}

.advantages__item:not(.advantages__item--full)::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 1px;
  background-color: #d6d6d6;
}

.button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
}

.map {
  width: 100%;
  height: 350px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.main-footer {
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer a {
  color: #000000;
}

.main-footer__tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin: 29px 78px 34px 76px;
}

.main-footer__networks {
  display: flex;
  padding: 0;
  margin: 0;
}

.interest {
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  padding: 39px 18px 32px;
}

.interest__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-top: 39px;
}

.interest__description {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.interest__button {
  color: #ffffff;
}

.form__fieldset {
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border: none;
  padding: 0;
}

.form__fieldset-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
}

.form__contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__contact-label {
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: #333333;
  padding-left: 15px;
}

.form__contact-input {
  width: 280px;
  height: 58px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__options-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 36px;
}

.form__fieldset {
  position: relative;
}

.form__fieldset::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #d6d6d6;
}

.form__fieldset:first-child:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #d6d6d6;
}

.form__options-mark {
  background-color: #2d1f1f;
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.form__input-wrapper {
  width: 280px;
  height: 58px;
}

#e-mail {
  width: 222px;
}

.form__input-wrapper--mail {
  background-image: url("../img/form-email.svg");
  background-position: right;
  background-repeat: no-repeat;
}

#phone {
  width: 222px;
}

.form__input-wrapper--phone {
  background-image: url("../img/form-phone.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.form__options-label {
  padding-left: 16px;
}

#recall-field {
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  width: 279px;
  height: 150px;
  border: none;
  background: #F2F2F2;
  margin-left: 20px;
  margin-bottom: 56px;
  padding: 16px 16px 16px 16px;
}

.form__submit {
  color: #ffffff;
}

.form__note {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  margin-left: 163px;
}

.modal__message {
  width: 320px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__message--failure {
  height: 280px;
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 45px;
}

.modal__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 39px 15px 0 36px;
}

.modal__button-container--success {
  width: 320px;
  height: 98px;
  background: #F2F2F2;
  margin-top: 30px;
}

.modal__button--success {
  width: 280px;
  height: 58px;
  color: #ffffff;
  margin: 20px 20px 20px 20px;
}

.modal__button--failure {
  width: 180px;
  height: 58px;
  color: #ffffff;
  margin-top: 28px;
}

.copyright {
  display: flex;
}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 47px;
}

.copyright__link {
  margin-top: 40px;
  margin-left: 10px;
}

.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.networks__item:first-child {
  margin-right: 6px;
}

.networks__item:last-child {
  margin-left: 6px;
}

.networks__link svg {
  fill: #ffffff;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

.catalog__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.catalog__author {
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.catalog__likes {
  font-family: "PT Sans", "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  width: 69px;
  height: 26px;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 25px;
  padding-left: 37px;
  padding-top: 7px;
}

.catalog__item {
  position: relative;
  margin-top: 24px;
}

.catalog__item::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #d6d6d6;
}

.catalog__item:first-child::before {
  content: "";
  display: block;
  position: absolute;
  top: -24px;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
}

.video {
  font-size: 14px;
  line-height: 21px;
}

.video__text {
  text-transform: uppercase;
  padding-left: 28px;
  padding-right: 26px;
  text-align: center;
}

.video_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  align-items: center;
}

.video__container {
  padding: 0 20px 0 20px;
}

.video__container img {
  background-image: url("../img/play-icon.svg");
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */